
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 0px solid #f1f1f1;}

input[type=text], input[type=password], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 10;
  display: inline-block;
  border: 0.5px solid #ccc;
  box-sizing: border-box;
}

input[type=submit]{
  margin-top:20px;
  margin-bottom:20px;
}

img{

	height:125px;
	width:auto;

}
div{

	text-align:center;

}

.score{

	text-align:center;

}
.button {
  background-color: #04AA6D;
  text-align:center;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

.button:hover {
  opacity: 0.8;
}

.cancelbtn {
  text-align:center;
  width: 20%;
  cursor: pointer;
  padding: 14px 20px;
  margin: 8px 0;
  background-color: #f44336;
}

.cancelbtn:hover {
  opacity: 0.8;
}



.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.recordFound{

	font-family:cursive;
	color:red;

}

/* modifying color attribute*/
@property 
--c1{
    syntax: '<color>';
    inherits: false;
    initial-value:red;
}

@property 
--c2{
    syntax: '<color>';
    inherits: false;
    initial-value:orange;
}

@keyframes
backgroundAnimation{
    0%{ --c1: red; --c2:orange;}
    14.3%{--c1: orange; --c2:yellow;}
    28.6%{--c1: yellow; --c2:green;}
    42.9%{--c1: green; --c2:blue;}
    57.1%{--c1: blue; --c2:indigo;}
    71.4%{--c1: indigo; --c2:purple;}
    85.7%{--c1: purple; --c2:red;}
    100%{ --c1: red; --c2:orange;}
}

#background{
    cursor:pointer;
    transition: --c 0.5s;
    background: linear-gradient(var(--c1),var(--c2));
    animation: backgroundAnimation 8s;
    animation-iteration-count: infinite;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}